.calorie-tracker-dev {
  display: flex;
}


.calorie-progress-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300;
  width: 300;
}

.calorie-progress-bar {
  position: absolute;
  overflow: hidden;
  transform: rotate(-90deg);
}

.calorie-progress-overlay {
  position: relative;
  overflow: visible;
  height: 220px;
  width: 220px;
  size: auto;
}

.bg-red {
  background-color: red;
}
.bg-orange {
  background-color: orange;
}
.bg-yellow {
  background-color: yellow;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
.bg-purple {
  background-color: purple;
}